In [1]:
import pandas as pd
import numpy as np

In [2]:
x = np.random.rand(5,4)

In [4]:
xdb = pd.DataFrame(x)

In [5]:
xdb.head()

          0         1         2         3
0  0.011334  0.535709  0.806574  0.592894
1  0.150862  0.740624  0.138665  0.339357
2  0.745032  0.874135  0.078107  0.628021
3  0.115012  0.966666  0.416779  0.647120
4  0.651368  0.572665  0.241447  0.585359

In [7]:
xdb.iloc[0,0] = np.nan

In [8]:
xdb.head()

          0         1         2         3
0       NaN  0.535709  0.806574  0.592894
1  0.150862  0.740624  0.138665  0.339357
2  0.745032  0.874135  0.078107  0.628021
3  0.115012  0.966666  0.416779  0.647120
4  0.651368  0.572665  0.241447  0.585359

In [9]:
xdb.columns=["a","b","c","d"]

In [10]:
xdb.head()

          a         b         c         d
0       NaN  0.535709  0.806574  0.592894
1  0.150862  0.740624  0.138665  0.339357
2  0.745032  0.874135  0.078107  0.628021
3  0.115012  0.966666  0.416779  0.647120
4  0.651368  0.572665  0.241447  0.585359

In [11]:
xdb.a.interpolate().head()

0         NaN
1    0.150862
2    0.745032
3    0.115012
4    0.651368
Name: a, dtype: float64

In [12]:
xdb.a.head()

0         NaN
1    0.150862
2    0.745032
3    0.115012
4    0.651368
Name: a, dtype: float64