In [1]:
import pandas as pd

In [13]:
x = [{"c1":1, "c2": 0 , "c2a":2}
    ,{"c1":2, "c2": 0 ,"c2a":3}]

In [14]:
y = [{"c1":1, "c2b":3}
    ,{"c1":2, "c2b":1}]

In [15]:
dx = pd.DataFrame(x)

In [16]:
dy = pd.DataFrame(y)

In [17]:
dx

   c1  c2  c2a
0   1   0    2
1   2   0    3

In [18]:
dy

   c1  c2b
0   1    3
1   2    1

In [19]:
dx.merge(right = dy, left_on = "c2a", right_on = "c2b")

   c1_x  c2  c2a  c1_y  c2b
0     2   0    3     1    3

In [20]:
3000/1100

2.727272727272727

In [21]:
(2+3.3)/2

2.65