# Job Board Scraping Lab

In this lab you will first see a minimal but fully functional code snippet to scrape the LinkedIn Job Search webpage. You will then work on top of the example code and complete several chanllenges.

### Some Resources 

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

In [2]:
# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search(keywords):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    # Assemble the full url with parameters
    scrape_url = ''.join([BASE_URL, 'keywords=', keywords])

    # Create a request to get the data from the server 
    page = requests.get(scrape_url)
    soup = BeautifulSoup(page.text, 'html.parser')

    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    for card in soup.select("div.result-card__contents"):
        title = card.findChild("h3", recursive=False)
        company = card.findChild("h4", recursive=False)
        location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
        titles.append(title.string)
        companies.append(company.string)
        locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

In [2]:
# Example to call the function

results = scrape_linkedin_job_search('data%20analysis')
results

,Title,Company,Location
0,Master Data Management Architect /Manager,"Synergy Business Consulting, Inc.","Teaneck, New Jersey, United States"
1,SEO Manager,Onward Select,"Atlanta, Georgia"
2,Data Governance Analyst,Momentum Consulting Corporation,"Miami, Florida"
3,Data Systems Analyst,Cypress HCM,"San Francisco, California"
4,Data Analyst w/ AWS,Digipulse Technologies Inc.,"Greensboro, North Carolina, United States"
5,Rebate & Data Analyst (Contract),SolomonEdwards,"Philadelphia, Pennsylvania"
6,Tibco Spotfire Data Analyst,GSquared Group,"Atlanta, Georgia"
7,Data Modeler,Confiance Tech Solutions,Greater Atlanta Area
8,HEDIS Quality Analyst,"HealthTECH Resources, Inc.","New York, New York"
9,Senior Financial Analyst,Talent 360 Solutions,Greater Atlanta Area
10,Manager of Business Intelligence,"Beyond Finance, Inc.","Houston, Texas"
11,"Manager, Provider Network Development (Healthc...",Remedy Partners,"Norwalk, Connecticut, United States"
12,IFRS9/CECL Implementation,New York Technology Partners,"New York, New York, United States"
13,Medical Director Pharmacovigilance,"Integrated Resources, Inc ( IRI )","Cambridge, Massachusetts"
14,Sr. Internal Auditor,Interface,"1280 W Peachtree St NW, Atlanta, Georgia 30309"
15,Workday Consultant,Amiseq Inc.,"Frisco, Texas, United States"
16,Vice President - Counter Party Credit,"Madison-Davis, LLC","New York, New York, United States"
17,Data Analyst,WorkFusion,"New York City, NY, US"
18,Senior Manager Data Analysis,Jobs @ TheJobNetwork,"Deerfield, IL, US"
19,Data Analyst,ipsy,"San Mateo, CA, US"
20,Data Analyst,Headspace Inc.,"Santa Monica, CA, US"
21,Master Data Analyst,Larsen & Toubro Infotech Ltd (LTI),"San Jose, California, United States"
22,Senior Data Analyst - Finance & Platform Analy...,Twitch,"San Francisco, CA, US"
23,"Procurement Specialist â€“ MRO, Data Analysis",Blue Signal Search,"Decatur, IL, US"
24,Operations Data Analyst & Program Manager - 74307,AMD,"Santa Clara, CA, US"

## Challenge 1

The first challenge for you is to update the `scrape_linkedin_job_search` function by adding a new parameter called `num_pages`. This will allow you to search more than 25 jobs with this function. Suggested steps:

1. Go to https://www.linkedin.com/jobs/search/?keywords=data%20analysis in your browser.
1. Scroll down the left panel and click the page 2 link. Look at how the URL changes and identify the page offset parameter.
1. Add `num_pages` as a new param to the `scrape_linkedin_job_search` function. Update the function code so that it uses a "for" loop to retrieve several pages of search results.
1. Test your new function by scraping 5 pages of the search results.

Hint: Prepare for the case where there are less than 5 pages of search results. Your function should be robust enough to **not** trigger errors. Simply skip making additional searches and return all results if the search already reaches the end.

In [47]:
# your code here



# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search_25plus(keywords,num_pages):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    
    titles = []
    companies = []
    locations = []
    
    index_counter = 0
    while 25*index_counter < num_pages:
         # Assemble the full url with parameters
        scrape_url = ''.join([BASE_URL, 'keywords=', keywords, "&start=",str(25*index_counter)])
        
        try:
            # Create a request to get the data from the server 
            page = requests.get(scrape_url)
        except:
            break
    
        soup = BeautifulSoup(page.text, 'html.parser')

        # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
        # Then in each job card, extract the job title, company, and location data.

        for card in soup.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
            
        # make sure that it not goes beyond the first site whenever there are less than 25 entries on the first page
        if len(soup.select("div.result-card__contents")) < 25:
            break
        else:            
            index_counter += 1
    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)
    
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    if len(data) > num_pages:
        return data.iloc[0:num_pages]
    else:
        return data

In [49]:
scrape_linkedin_job_search_25plus('data%20analysis',50)

,Title,Company,Location
0,Data Analyst,MakeSpace,"New York, New York, United States"
1,Data Analyst,University of Colorado Colorado Springs,"Colorado Springs, CO, US"
2,VP Data Transformation,Centria Healthcare,"Farmington Hills, Michigan, United States"
3,Data Scientist,"BMW of North America, LLC","Woodcliff Lake, NJ, US"
4,Data Analyst,Hollstadt Consulting,Greater Minneapolis-St. Paul Area
5,Data Ops Analyst,Wish,"San Francisco, CA, US"
6,Data Analyst,Quest Financial,"Dunwoody, Georgia, United States"
7,Data Strategy Analyst,Payden & Rygel,"Los Angeles, California, United States"
8,Associate Data Analyst,ZoomInfo,"Vancouver, WA, US"
9,Data Analyst,State of North Carolina,"Raleigh, NC, US"
10,Strategic Data Analyst,PDC - A Brady Business,"Valencia, California"
11,Data Analyst,TEKsystems,"Summit, New Jersey, United States"
12,Data Analyst,Eliassen Group,"Tampa, Florida, United States"
13,Data and Business Intelligence Analyst,Times Union,"Albany, New York"
14,Reporting & Metrics Data Analyst,Airbnb,"San Francisco, CA, US"
15,Data Analyst,Marchon Partners,Charlotte Metro
16,Analyst,YouGov,"Cheshire, Connecticut, United States"
17,"Data Analyst, Workforce Management",Sun Country Airlines,"Minneapolis, MN, US"
18,Data Analyst,Progressive GE,"San Diego, California"
19,Data Analyst,Versique Search & Consulting,"Hopkins, MN, US"
20,Data Analyst,IPSY,"San Mateo, CA, US"
21,Crime and Intelligence Analyst,San Jose Police Department,"San Jose, California, United States"
22,"Data Analyst, Digital",HAUS LABORATORIES,"Los Angeles, California, United States"
23,Data & Reporting Analyst,Astravo,Greater Denver Area
24,Data Analyst,EPITEC,"Plano, Texas, United States"
25,Data Analyst,MakeSpace,"New York, New York, United States"
26,VP Data Transformation,Centria Healthcare,"Farmington Hills, Michigan, United States"
27,Data Scientist,"BMW of North America, LLC","Woodcliff Lake, NJ, US"
28,Data Analyst,"Planted, Inc.","New York City, NY, US"
29,Data Ops Analyst,Wish,"San Francisco, CA, US"
30,Data Analyst,Quest Financial,"Dunwoody, Georgia, United States"
31,Data Strategy Analyst,Payden & Rygel,"Los Angeles, California, United States"
32,Associate Data Analyst,ZoomInfo,"Vancouver, WA, US"
33,Data Analyst,State of North Carolina,"Raleigh, NC, US"
34,Strategic Data Analyst,PDC - A Brady Business,"Valencia, California"
35,Data Analyst,TEKsystems,"Summit, New Jersey, United States"
36,Data Analyst,Eliassen Group,"Tampa, Florida, United States"
37,Data and Business Intelligence Analyst,Times Union,"Albany, New York"
38,Reporting & Metrics Data Analyst,Airbnb,"San Francisco, CA, US"
39,"Analyst, Data and Analytics",Digitas North America,Greater New York City Area
40,Analytics - Insights Analyst,Starz,New York City Metropolitan Area
41,Data Analyst,Marchon Partners,Charlotte Metro
42,"Data Scientist, Charging Data and Modeling",Tesla,"Palo Alto, CA, US"
43,Analyst,YouGov,"Cheshire, Connecticut, United States"
44,Data Analyst,Progressive GE,"San Diego, California"
45,Data Analyst,Versique Search & Consulting,"Hopkins, MN, US"
46,Data Analyst,IPSY,"San Mateo, CA, US"
47,Data Analyst,Dixon Valve,"Chestertown, Maryland, United States"
48,"Data Analyst, Digital",HAUS LABORATORIES,"Los Angeles, California, United States"
49,Data Analyst,EPITEC,"Plano, Texas, United States"

## Challenge 2

Further improve your function so that it can search jobs in a specific country. Add the 3rd param to your function called `country`. The steps are identical to those in Challange 1.

In [52]:
# your code here

def scrape_linkedin_job_search_25plus_city(keywords,num_pages,city):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    
    titles = []
    companies = []
    locations = []
    
    index_counter = 0
    while 25*index_counter < num_pages:
         # Assemble the full url with parameters
        scrape_url = ''.join([BASE_URL, 'keywords=', keywords, "&start=",str(25*index_counter),"&location=",city])
        
        try:
            # Create a request to get the data from the server 
            page = requests.get(scrape_url)
        except:
            break
    
        soup = BeautifulSoup(page.text, 'html.parser')

        # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
        # Then in each job card, extract the job title, company, and location data.

        for card in soup.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
            
        # make sure that it not goes beyond the first site whenever there are less than 25 entries on the first page
        if len(soup.select("div.result-card__contents")) < 25:
            break
        else:            
            index_counter += 1
    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)
    
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    if len(data) > num_pages:
        return data.iloc[0:num_pages]
    else:
        return data

In [53]:
scrape_linkedin_job_search_25plus_city('data%20analysis',40,"munich")

,Title,Company,Location
0,Risk & Finance Analyst,Tesla,"Munich, DE"
1,Data Analyst,Amazon,"Munich, DE"
2,Data Scientist,Stylight,"Munich, DE"
3,Data Analyst,KeenRecruit,"Munich, DE"
4,Data Scientist (m/f/d),Huawei,"Munich, DE"
5,Knowledge Analyst - HR / People Strategy,Boston Consulting Group (BCG),"Munich Area, Germany"
6,BI / Product Data Analyst,TrustYou,"Munich, Bavaria, Germany"
7,Business Analyst,CVMC LTD,"Munich, Bavaria, Germany"
8,Data Scientist (m/f/d),FlixBus,"Munich, DE"
9,Strategy Implementation Intern (d/f/m),Airbus,"Munich, DE"
10,CRM Specialist (m/f/d),Tiffany & Co.,"Munich, DE"
11,HR Analyst & Reporting Expert (m/f/d) in HR Op...,Allianz,"Munich Area, Germany"
12,Work Student Finance Systems & Transformation ...,Comm Scope,"Ottobrunn, DE"
13,Data Scientist (m/f/x),Wirecard,"Aschheim, DE"
14,Data Engineer,Pixida GmbH,"Munich, DE"
15,TRAINEE INNOVATION MANAGEMENT AND DATA ANALYTICS.,EIGHTYDOTS,"Munich, DE"
16,Professional Consultant (f/m/d) SAP Master Dat...,Camelot ITLab,"Munich, Bavaria, Germany"
17,"Data Scientist, Global Accounts",Amazon Web Services (AWS),"Munich, DE"
18,(Senior) Ad-Tech Analyst (f/m/d),mytheresa.com,"Munich, DE"
19,"Program Manager, Diversity, Equity, and Inclusion",Google,"Munich, DE"
20,Global Digital Analyst (f/m/d),Essity,"Munich, DE"
21,Team Lead Analytics & Data Science,Joyn GmbH,"Munich, DE"
22,Analytics Consultant : Munich,InterWorks,"Munich, DE"
23,Scientist (f/m/d) Drug Product Development for...,Coriolis Pharma,"Munich, DE"
24,Manager Global Operational Pricing (m/f/x),Daiichi Sankyo Europe GmbH,"MÃ¼nchen und Umgebung, Deutschland"
25,Data Analyst / Business Analyst (m/w/d),Institut FÃ¼r Musikalische Bildung,"Munich, DE"
26,Risk & Finance Analyst,Tesla,"Munich, DE"
27,Data Analyst,Amazon,"Munich, DE"
28,Data Analyst (m/f/d),SIXT,"Munich, DE"
29,Investment Data Analyst (m/w/d),Allianz,"Munich, DE"
30,Data Scientist,Stylight,"Munich, DE"
31,Data Analyst,KeenRecruit,"Munich, DE"
32,Data Analyst (m/w/d),Abalon AB,"Munich, DE"
33,Data Scientist (m/f/d),Huawei,"Munich, DE"
34,Business Analyst (m/f/x) Pricing & Profitability,Wirecard,"Aschheim, DE"
35,Marketing Data Analyst (m/w/d),Scout24 Group,"Munich, DE"
36,Data Scientist (w/m/d),PwC Deutschland,"MÃ¼nchen und Umgebung, Deutschland"
37,Data Analyst (m/w/d),Bertelsmann SE & Co. KGaA,"Munich, DE"
38,Data Scientist (Entry Level),Celonis,"MÃ¼nchen, Bayern, Deutschland"
39,Knowledge Analyst - HR / People Strategy,Boston Consulting Group (BCG),"Munich Area, Germany"

## Challenge 3

Add the 4th param called `num_days` to your function to allow it to search jobs posted in the past X days. Note that in the LinkedIn job search the searched timespan is specified with the following param:

```
f_TPR=r259200
```

The number part in the param value is the number of seconds. 259,200 seconds equal to 3 days. You need to convert `num_days` to number of seconds and supply that info to LinkedIn job search.

In [127]:
# your code here
def scrape_linkedin_job_search_25plus_city_numDays(keywords,num_pages,city,num_days):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    time_stamp = "f_TPR=r" + str(int(86400*num_days)) + "&" 
    
    
    titles = []
    companies = []
    locations = []
    
    index_counter = 0
    while 25*index_counter < num_pages:
         # Assemble the full url with parameters
        scrape_url = ''.join([BASE_URL, time_stamp,'keywords=', keywords, "&start=",str(25*index_counter),"&location=",city,"&f_TP=1"])
        
        try:
            # Create a request to get the data from the server 
            page = requests.get(scrape_url)
        except:
            break
    
        soup = BeautifulSoup(page.text, 'html.parser')
        
        # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
        # Then in each job card, extract the job title, company, and location data.

       
    
        
        
        for card in soup.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
         
        # make sure that it not goes beyond the first site whenever there are less than 25 entries on the first page
        index_counter +=1

    
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)
    
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    if len(data) > num_pages:
        return data.iloc[0:num_pages]
    else:
        return data

In [128]:
scrape_linkedin_job_search_25plus_city_numDays('data%20analysis',50,"munich",0.1)

https://www.linkedin.com/jobs/search/?f_TPR=r8640&keywords=data%20analysis&start=0&location=munich&f_TP=1
https://www.linkedin.com/jobs/search/?f_TPR=r8640&keywords=data%20analysis&start=25&location=munich&f_TP=1

,Title,Company,Location
0,SENIOR DATA ANALYST (m/f/d),Harnham,"NÃ¼rnberg Area, Germany"
1,Manager Global Operational Pricing (m/f/x),Daiichi Sankyo Europe GmbH,"MÃ¼nchen und Umgebung, Deutschland"
2,Internship Data Science (m/f/d),Limehome GmbH,"MÃ¼nchen, Bayern, Deutschland"
3,Senior Growth Manager (m/f/d),FlixBus,"Munich, DE"
4,Preclinical Development Manager (m/f/d),Sandoz,"Munich, DE"
5,Program Manager - Alexa Preview Team,Amazon,"Munich, DE"
6,Sales Operations Manager (m/f/d),Personio,"MÃ¼nchen, Bayern, Deutschland"
7,Senior Statistician,PSI CRO AG,"Munich, DE"
8,BIG DATA ARCHITECT (M/F/D),Altran,"Munich, DE"
9,Senior IT Audit Consultant,IAC,"Munich, Bavaria, Germany"
10,Praktikum - BI / Data Analyst (m/w/d) mit Foku...,DataGuard,"Munich, DE"
11,Working Student (m/w/d) Group Taxation,Allianz,"Munich, DE"
12,Software Application Architect,Dynamic Biosensors,"MÃ¼nchen, Bayern, Deutschland"
13,Account Manger - DACH,ClassPass,"Munich, Bavaria, Germany"
14,Lead Software Developer (m/f/d),Clariant,"Munich, DE"
15,Solution Architect,Vlocity,"Munich, DE"
16,Full Stack Software Engineer (Python/Django/Vu...,Limehome GmbH,"MÃ¼nchen, Bayern, Deutschland"
17,Software Developer (m/f/d) Hadoop,Altran,"Munich, DE"
18,SENIOR DATA ANALYST (m/f/d),Harnham,"NÃ¼rnberg Area, Germany"
19,Senior IT Audit Consultant,IAC,"Munich, Bavaria, Germany"
20,Senior Statistician,PSI CRO AG,"Munich, DE"
21,BIG DATA ARCHITECT (M/F/D),Altran,"Munich, DE"
22,Internship Data Science (m/f/d),Limehome GmbH,"MÃ¼nchen, Bayern, Deutschland"
23,Software Application Architect,Dynamic Biosensors,"MÃ¼nchen, Bayern, Deutschland"
24,Praktikum - BI / Data Analyst (m/w/d) mit Foku...,DataGuard,"Munich, DE"
25,Manager Global Operational Pricing (m/f/x),Daiichi Sankyo Europe GmbH,"MÃ¼nchen und Umgebung, Deutschland"
26,Lead Software Developer (m/f/d),Clariant,"Munich, DE"
27,Preclinical Development Manager (m/f/d),Sandoz,"Munich, DE"
28,Program Manager - Alexa Preview Team,Amazon,"Munich, DE"
29,Sales Operations Manager (m/f/d),Personio,"MÃ¼nchen, Bayern, Deutschland"
30,Solution Architect,Vlocity,"Munich, DE"
31,Working Student (m/w/d) Group Taxation,Allianz,"Munich, DE"
32,Senior Growth Manager (m/f/d),FlixBus,"Munich, DE"
33,Account Manger - DACH,ClassPass,"Munich, Bavaria, Germany"
34,Full Stack Software Engineer (Python/Django/Vu...,Limehome GmbH,"MÃ¼nchen, Bayern, Deutschland"
35,Software Developer (m/f/d) Hadoop,Altran,"Munich, DE"

## Bonus Challenge

Allow your function to also retrieve the "Seniority Level" of each job searched. Note that the Seniority Level info is not in the initial search results. You need to make a separate search request for each job card based on the `currentJobId` value which you can extract from the job card HTML.

After you obtain the Seniority Level info, update the function and add it to a new column of the returned dataframe.

In [125]:
# your code here
import numpy as np

# your code here
def scrape_linkedin_job_search_25plus_city_numDays_level(keywords,num_pages,city,num_days):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    time_stamp = "f_TPR=r" + str(int(86400*num_days)) + "&" 
    
    
    titles = []
    companies = []
    locations = []
    senior_levels = []
    date_times = []
    
    index_counter = 0
    while 25*index_counter <= num_pages:
         # Assemble the full url with parameters
        scrape_url = ''.join([BASE_URL, time_stamp,'keywords=', keywords, "&start=",str(25*index_counter),"&location=",city,"&f_TP=1"])
        
        try:
            # Create a request to get the data from the server 
            page = requests.get(scrape_url)
        except:
            break
    
        soup = BeautifulSoup(page.text, 'html.parser')
        
        # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
        # Then in each job card, extract the job title, company, and location data.

        # list of all li blocks. every block contains one search result
        job_cards = soup.find("ul",attrs={"class": "jobs-search__results-list"}).find_all("li",attrs={"class": "result-card"})
        
        for card in job_cards:
            
            # this is the old div.result-card__contents from the other functions
            card_div = card.find_all("div", attrs = {"class" : "result-card__contents"})[0]
                        
            title = card_div.findChild("h3", recursive=False)
            company = card_div.findChild("h4", recursive=False)
            location = card_div.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
            
            if len(card.find_all("time", attrs = {"class" : "job-result-card__listdate--new"}))>0:
                date_times.append(card.find_all("time", attrs = {"class" : "job-result-card__listdate--new"})[0].get("datetime"))
            else:
                date_times.append(np.nan)
            
            
            # now lets turn to the senior level part. First, we extract the Job-ID
            card_id = card.get("data-id") # this is the 
            
            # get new url   
            scrape_url_id = "https://www.linkedin.com/jobs/view/" + str(card_id)
           
            
            
            
            # load new url and parse
            page_id = requests.get(scrape_url_id)
            soup_id = BeautifulSoup(page_id.text, 'html.parser')
            
            # find the information
            senior_level = soup_id.find("span",attrs = {"class" : "job-criteria__text"}).string
            senior_levels.append(senior_level) 

           
        
        
        # make sure that it not goes beyond the first site whenever there are less than 25 entries on the first page
        if len(soup.select("div.result-card__contents")) < 25:
            break
        else:            
            index_counter += 1
            
    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)
    
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations,senior_levels,date_times)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2],"Level":z[3],"Published":z[4]} , ignore_index=True)
    
    # Return dataframe
    if len(data) > num_pages:
        return data.iloc[0:num_pages]
    else:
        return data

In [126]:
scrape_linkedin_job_search_25plus_city_numDays_level('data%20analysis',50,"munich",3)

,Title,Company,Location,Level,Published
0,Manager Global Operational Pricing (m/f/x),Daiichi Sankyo Europe GmbH,"MÃ¼nchen und Umgebung, Deutschland",Associate,2020-01-21
1,Senior Growth Manager (m/f/d),FlixBus,"Munich, DE",Mid-Senior level,2020-01-20
2,Preclinical Development Manager (m/f/d),Sandoz,"Munich, DE",Mid-Senior level,2020-01-20
3,Program Manager - Alexa Preview Team,Amazon,"Munich, DE",Mid-Senior level,NaN
4,Sales Operations Manager (m/f/d),Personio,"MÃ¼nchen, Bayern, Deutschland",Mid-Senior level,2020-01-20
5,Senior Statistician,PSI CRO AG,"Munich, DE",Mid-Senior level,2020-01-21
6,BIG DATA ARCHITECT (M/F/D),Altran,"Munich, DE",Associate,2020-01-21
7,Senior IT Audit Consultant,IAC,"Munich, Bavaria, Germany",Mid-Senior level,2020-01-20
8,Working Student (m/w/d) Group Taxation,Allianz,"Munich, DE",Not Applicable,2020-01-21
9,Account Manger - DACH,ClassPass,"Munich, Bavaria, Germany",Associate,2020-01-20
10,Lead Software Developer (m/f/d),Clariant,"Munich, DE",Associate,2020-01-21
11,Solution Architect,Vlocity,"Munich, DE",Associate,2020-01-20
12,Software Developer (m/f/d) Hadoop,Altran,"Munich, DE",Associate,2020-01-21

In [115]:
np.nan

nan